name: Generate Snake

on:
  schedule: # Runs every 24 hours
    - cron: "0 */24 * * *"
  workflow_dispatch: # Permet de le lancer manuellement
  push:
    branches:
      - main

jobs:
  build:
    name: Generate GitHub Contribution Snake
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate the snake
        uses: Platane/snk@master
        with:
          github_user_name: all-all-all
          outputs: dist/github-snake.svg

      - name: Push snake animation
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        
